*{
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.maincontainer{
  width: 1366px;
  margin: 0 auto;
}

.header{
  padding-top: 63px;
}

.slider{
  height: 800px;
  background-image: url(../img/slider-img.jpg);
  position: relative;
}

.menu{
  float: right;
}

.menu-search-img{
  opacity: 0.5;
}

.menu-search-img:hover{
  opacity: 1;
}

.menu-list{
  float: left;
  list-style-type: none;
}
.padding-site{
  padding-left: 98px;
  padding-right: 98px;
}
.menu-link{
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 13px;
}

.menu-link:hover{
  color: #212121;

}
.menu-link-active{
  color: #212121;
  font-weight: 700;
  letter-spacing: 1.4px;
  border-bottom: 3px solid #212121;
}

.menu-link-active:hover{
  color: #8c8c8c;
}

.slider-content{
  margin-top: 283px;
}

.slider-tag{
  color: #43a047;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}

.slider-name{
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  font-style: normal;
  letter-spacing: -1.5px;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.0!important;

}
.slider-details{
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  width: 458px;
  line-height: 24px;
  margin-top: 20px;
}

.slider-btn{
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 23px;
  background-color: #ffffff;
  text-decoration: none;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  width: 212px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  letter-spacing: 3.6px;
  margin-top: 32px;
}

.slider-btn:hover{
  background-color: #cccccc;
}

.navigation{
  position: absolute;
  text-align: center;
  width: 1170px;
  bottom: 19px;
}

.circle{
  height: 30px;
  width: 30px;
  background-color: #c7c7c7;
  border-radius: 20px;
  display: inline-block;
  margin: 5px;
}

.circle:hover{
  background-color: #212121;
}

.circle-active{
  background-color: #212121;
  height: 40px;
  width: 40px;
  margin-bottom: 0;
}

.featured-product{
  margin-top: 120px;
}

.featured-product-container{
  float: left;
  margin-top: 50px;
  margin-bottom: 120px;
}

.tab-list{
  float: left;
  border-bottom: 1px solid #6c6c6c;
}

.tab-link{
  color: #6c6c6c;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  padding-left: 11px;
}

.tab-link:hover{
  color: #8c8c8c;
}

.tab-link-active{
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  border-bottom: 4px solid #212121;
  padding-right: 20px;
}

.tab-link-active:hover{
  color: #8c8c8c;
}

.explore-link{
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2.6px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 16px;
}

.explore-link:hover{
  color: #8c8c8c;
}

.featured-container-product{
  height: 270px;
  width: 270px;
  float: left;
  margin-right: 30px;
  text-decoration: none;
}

.featured-content{
  opacity: 0;
  height: 100%;
}

.backgr:hover{
  background-color: #ffffff;
  opacity: 0.9!important;
}

.featured-content:hover{
  opacity: 1;
}

.featured-product-circle{
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 24px;
  background-color: #ffffff;
  height: 48px;
  width: 48px;
  display: inline-block;
  margin: 62px 111px 0;
  color: #212121;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  line-height: normal;
}

.featured-product-name{
  color: #212121;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 19px 32px -10px;
}

.featured-product-text{
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 23px 32px;
}

.prod1{
  background-image: url(../img/product-1.jpg);
}

.prod2{
  background-image: url(../img/product-2.jpg);
}

.prod3{
  background-image: url(../img/product-3.jpg);
}

.prod4{
  background-image: url(../img/product-4.jpg);
  margin: 0!important;
}

.tab-control{
  display:inline-block;
  list-style-type: none;
}

.explore-link{
  float:right;
}

.promo-content1{
  float: left;
  width: 50%;
  background-image: url("../img/promo-img1.jpg");
}

.promo-content2{
  width: 50%;
  float: right;
  background-image: url("../img/promo-img2.jpg");
}
.promo{
  height: 683px;
}

.promo-content-text{
  margin: 228px 259px 256px 50px;
  max-height: 100%;
}

.promo-tag{
  color: #1e88e5;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.8px;
  text-align: left;
  text-transform: uppercase;
}

.promo-name{
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 18px;
}

.promo-details{
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 24px;
}

.promo-btn{
  width: 212px;
  height: 46px;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 23px;
  background-color: #ffffff;
  display: block;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  line-height: 46px;
  text-decoration: none;
  margin-top: 34px;
}

.promo-btn:hover{
  background-color: #cccccc;
}

.trending{
  margin-top: 120px;
}

.trending-title{
  display: inline-block;
  width: 100%;
  margin-bottom: 64px;
}

.trending-title-name{
  float: left;
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.tp{
  height: 370px;
  width: 370px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.tp3,
.tp6{
  margin-right: 0!important;
}

.tp a{
  display: block;
  height: 100%;
}

.tp1{
  background-image: url("../img/product-11.jpg");
}

.tp2{
  background-image: url("../img/product-21.jpg");
}

.tp3{
  background-image: url("../img/product-31.jpg");
}

.tp4{
  background-image: url("../img/product-41.jpg");
}

.tp5{
  background-image: url("../img/product-5.jpg");
}

.tp6{
  background-image: url("../img/product-6.jpg");
}

.tp:hover{
  outline: 2px solid black;
}

.hd-slider{
  height: 800px;
  margin-top: 90px;
  background-image: url("../img/hd-slider.jpg");
  position: relative;
}

.hd-slider-content{
  margin-top: 287px;
  width: 500px;
}

.hd-slider-tag{
  color: #e53935;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}

.hd-slider-name{
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.0!important;
}

.hd-slider-details{
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 20px;
  line-height: 24px;
}

.ep-content{
  margin-top: 120px;
  display: block;
}

.ep1{
  height: 570px;
  width: 570px;
  float: left;
  position: relative;
  background-image: url("../img/ep-1.jpg");
}

.ep1-content{
  margin: 186px 210px 0 30px;
}


.ep-product{
  height: 270px;
  width: 270px;
}

.ep2{
  background-image: url("../img/ep-2.jpg");
  position: absolute;
  margin-left: 600px;
}

.ep3{
  background-image: url("../img/ep-3.jpg");
  position: absolute;
  margin-left: 900px;
}

.ep4{
  background-image: url("../img/ep-4.jpg");
  position: absolute;
  margin-left: 600px;
  margin-top: 300px;
}

.ep5{
  background-image: url("../img/ep-5.jpg");
  position: absolute;
  margin-left: 900px;
  margin-top: 300px;
}

.ep-product a{
  display: block;
  height: 100%;
}

.ep-product a:hover{
  outline: 2px solid black;
}

.ep-tag{
  color: #1e88e5;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.8px;
  text-align: left;
  text-transform: uppercase;
}

.ep-name{
  margin-top: 18px;
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  line-height: 1;
}

.ep-details{
  margin-top: 24px;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.mobile-app{
  margin-top: 120px;
  height: 516px;
  background-image: url("../img/mobapp-img.jpg");
}

.mobile-app-content{
  margin-top: 125px;
  margin-left: 100px;
  width: 465px;
}

.ma-tag{
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.8px;
  text-align: left;
  text-transform: uppercase;
}

.ma-name{
  margin-top: 22px;
  color: #212121;
  font-size: 57px;
  font-weight: 100;
  font-style: normal;
  letter-spacing: -1px;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
}

.ma-details{
  margin-top: 26px;
  color: #6c6c6c;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.appstore-btn{
  margin-top: 30px;
  position: relative;
  float: left;
  opacity: 0.7;
}

.googleplay-btn{
  position: absolute;
  margin-left: 145px;
  margin-top: 30px;
  opacity: 0.7;
}

.googleplay-btn:hover,
.appstore-btn:hover{
  opacity: 1!important;
}

.footer{
  background-image: url("../img/footer-back.svg");
  padding-bottom: 200px;
}

.footer-content{
  padding-top: 120px;
}

.related-img{
  opacity: 0.7;
}

.related-img:hover{
  opacity: 1;
}

.footer-contacts{
  float: left;
  width: 221px;
}

.footer-contacts-tag{
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.8px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.opacityback{
  background-color: #cccccc;
  opacity: 0.5;
  width: 370px;
  height: 370px;
}

.footer-contacts-text{
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.5px;
  text-align: left;
}

.footer-useful-tag{
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.8px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.footer-useful{
  float: left;
  padding-left: 80px;
  text-decoration: none;
  list-style-type: none;
}

.footer-useful-left{
  float: left;
}

.footer-useful-list{
  list-style-type: none;
}

.footer-useful-list li a{
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.4;
}
.footer-useful-right{
  margin-left: 234px;
}

.footer-subscribe{
  margin-left: 800px;
}

.footer-subscribe-tag{
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.8px;
  text-align: left;
  text-transform: uppercase;
}

.footer-subscribe-text{
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 26px;
}

.email{
  width: 310px;
  height: 48px;
  border: 1px solid #d9dee1;
  background-color: #ffffff;
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  padding-left: 19px;

}

.email-form{
  position: absolute;
  margin: 18px 20px -20px -30px;
  opacity: 0.5;
}

.email-form:hover{
  opacity: 1!important;
}

.footer-terms-text{
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.6px;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  float: right;
}

.email:focus{
  outline: 2px solid black;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

.footer-underground{
  padding-top: 75px;
}

.footer-copyright{
  float: left;
  width: 362px!important;
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.6px;
  text-align: left;
  text-transform: uppercase;
}

.footer-links{
  height: 100%;
  float: left;
  padding-left: 158px;
}

.footer-terms{
  padding-left: 172px;
  padding-bottom: 100px;
}

.social{
  float:left;
}

.social a{
  width: 10px;
  height: 10px;
}

.social a{
  text-align: center;
  line-height: 1;
  background-position: bottom;
  width: 10px;
  height: 10px;
  float: left;
  background-color: #6c6c6c;
  background-repeat: no-repeat;
  background-size: 50% auto;
  border: 1px solid #ccc;
  border-radius: 24px;
  margin: 0 10px 5px 0;
  padding: 6px;
  color: white;
  opacity: 0.7;
}

.facebook a{
  background-image: url("../img/Slice_fbbest.png");
}

.twitter a{
  background-image: url("../img/Slice_twit.png");
}

.google-plus a{
  background-image: url("../img/Slice_google+.png");
}

.pinterest a{
  background-image: url("../img/Slice_pinterfest.png");
}

.google-plus a:hover {
  opacity: 1;
}

.twitter a:hover {
  opacity: 1;
}

.facebook a:hover {
  opacity: 1;
}

.pinterest a:hover {
  opacity: 1;
}

.footer-useful-list a:hover{
  color: #8c8c8c;
}

.footer-terms-text:hover{
  letter-spacing: 1.3px;
  color: #6c6c6c;
}

.headercont{
  margin-right: 167px;
  margin-left: 98px;
}

.product-links{
  background-color: #f4f4f4;
  height: 70px;
}

.product-slider{
  margin-top: 120px;
}

.mp{
  margin-left: 98px;
  margin-right: 138px;
}

.related{
  margin-left: 98px;
  margin-right: 98px;
  margin-bottom: 120px;
  margin-top: 245px;
}

.related-header{
  margin-bottom: 71px;
}

.cargo{
  height: 650px;
}

.cargo ul{
  list-style-type: none;
}

.cargo ul li{
  display: inline-block;
  margin-right: 10px;
}

.cargo ul li:hover{
  opacity: 0.5;
}

.product-btn{
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 35px;
  background-color: #f44336;
  min-width: 100%;
  height: 79px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.4px;
  line-height: 79px;
  padding: 0!important;
  margin-top: 20px;
}

.product-name{
  color: #212121;
  font-size: 36px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}

.product-tag{
  color: #e53935;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.product-price{
  color: #212121;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 72px;
}

.product-text{
  color: #212121;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.4px;
  margin-top: 50px;
}

nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #212121;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

.menu-link-product{
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none!important;
  line-height: 1.4!important;
  padding: 0px 5px 5px 5px;
}

.menu-link-product:hover{
  color: #212121!important;
  line-height: 1.4!important;
}

.menu_product{
  padding-top: 0;
  padding-bottom: 0;
  float: right;
  box-shadow: none;
  width: auto;
}

.related-name{
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}


.btn:hover{
  background-color: coral;
}

.shift{
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding: 0;
  box-shadow: none;
}

nav.shift ul li a {
  position:relative;
  z-index: 1;
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 70px;
  letter-spacing: 1.8px;
  text-decoration: none;
  margin: 0!important;
}

nav.shift ul li a:hover {
  color: #212121;
}

nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '';
  color: transparent;
  background: #ffffff;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}



/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }



  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

